@{
    ViewData["Title"] = "Facturación";
}

<h1 class="text-center text-light">💳 Facturación</h1>

<table class="table table-striped text-center">
    <thead class="table-dark">
        <tr>
            <th>Reserva</th>
            <th>Monto</th>
            <th>Método de Pago</th>
            <th>Fecha de Pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pago in Model)
        {
            <tr>
                <td>@pago.Reserva.Obra.Titulo</td>
                <td>$@pago.Monto</td>
                <td>@pago.MetodoPago</td>
                <td>@pago.Fecha.ToShortDateString()</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="DetallesPago" asp-route-id="@pago.Id">🧾 Ver Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
